*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    height: 100vh;
}

.left{
    float: left;
}

.right{
    float: right;
}

.inline{
    display: inline-block;
}

.image1{
    width: 15%;
    float: left;
}

.list{
    width: 70%;
    
}

.btndiv{
    width: 15%;
    float: right;
}

ul{
    text-align: center;
    padding-top: 2rem;
}

.logo{
    margin-left: 4rem;
    margin-top: 1rem;
}

.font{
        font-family: "Lato", sans-serif;
        font-size: 1rem;
        font-weight: 600;
        font-style: normal;
}

.listlink{
        
        color: grey;
        margin: 1rem;
        margin-top: .75rem;
}

.listlink:hover{
    color: darkgrey;
}

.btn{
    border: 0px;
    border-radius: 10%;
    font-size: .75rem;
    padding: 1rem;
    background: rgb(107, 255, 132);
    color: rgb(4, 139, 31);
    margin-top: 1.75rem;
    cursor: pointer;
    /* margin */
}

.book{
    width: 50%;
    height: 87vh;
    padding-left: 5rem;
    padding-top: 5rem;
}

.booktext{
    font-weight: 700;
    color: grey;
    font-size: 3.5rem;
}

.laundry{
    color: green;
}

.para1{
    color: grey;
    margin-top: .25rem;
    font-weight: 400;
    font-size: 1.25rem;
}

.bookbtn{
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
    font-size: 1rem;
    border-radius: 1rem;
    color: white;
    background-color: green;
}

.imgdiv{
    width: 50%;
    height: 87vh;
    padding-left: 5rem;
    padding-top: 5rem;
}


 


